/* 전체영역에서 여백을 없애줌 */
* {
    margin: 0;
    padding: 0;
}
/* ul li태그에 리스트 스타일을 없앰 */
ul li{
    list-style: none;
}
/* a태그에 텍스트 밑줄을 없애고 색상을 #333 */
a {
    text-decoration: none;
    color:#333;
}
/* 글자크기를 16px 맑은 고딕 굵게하고 width넓이 700, 높이 50만큼 배경색은 #ccc, 글자색은 검정색, 라인높이50px
menu박스 가운데정렬, 글자가운데 정렬 */
#menu {
    font:bold 100% "malgun gothic";
    width:100%;
    height:100px;
    background: whitesmoke;
    color:black;
    line-height: 94px;
    margin:0 auto;
    text-align: center;
}

/* 메뉴판 자체를 이동 */
#menu > ul{
    float: left;
    margin-left: 60%;
}

/* menu태그 자식의 ul의 자식 li를 왼쪽정렬과 넓이 140설정 */
#menu > ul > li {
    width:140px;
    float: left;
}

#menu > ul > li > a{
    font-size: 30px;
}

/*드롭다운 메뉴 감추기 */
#menu > ul > li > ul{
    height: 100%;
    background-color: whitesmoke;
    font-size: 100%;
    display: none;
}

/* 드롭다운 부속 사이즈 */
#menu > ul > li > ul >li{
    line-height: 20px;
    padding-bottom: 10%;
    padding-top: 10%;
}

/*drop down menu 보이게 하기 */
#menu > ul > li:hover > ul{
    display: block;
}

